a{
  cursor: pointer;
}
.row-style{
    margin-top:75px;
}
img{width: 100%;}
.blueText{
  color: blue;
}
footer{
  color:white;
  background: rgb(46, 47, 47);
}
footer li{
  list-style: none;
}
footer ul li a{
  color: white;
}
footer ul li a:hover{
  color: greenyellow;
}